.footer {
  display: flex;
  gap: 70px;
  &__background {
    background-color: $bottom-color;
    padding-top: 60px;
    padding-bottom: 47px;
  }
  &__contact {
    text-decoration: none;
    color: $color-white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $brand-color;
    }
  }
  &__title {
    color: $color-white;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    padding-left: 70px;
    margin: 0;
    padding-bottom: 20px;
  }
  &__form {
    display: flex;
  }
  &__text {
    color: $color-white;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: left;
    margin: 0;
    padding-bottom: 20px;
  }
  &__input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: solid 1px;
    border-color: $letter-color;
    background-color: $bottom-color;
    color: $color-white;
    padding: 15px 16px;
  }
  &__button {
    display: inline-flex;
    width: 200px;
    height: 50px;
    background-color: $brand-color;
    color: $color-white;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: solid 1px;
    border-color: transparent;
    gap: 20px;
    align-items: center;
    padding-left: 39px;
    margin-left: 8px;
    margin-top: 6px;
    cursor: pointer;
  }
}

.networks {
  display: flex;
  gap: 10px;
  padding-left: 70px;
  &-footer__item {
    fill: $color-white;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: $brand-color;
    }
  }
}
