.nav {
  display: inline-flex;
  gap: 50px;
  margin-left: 93px;
  &__link {
    text-decoration: none;
    color: $tittle-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 28px;
    position: relative;
    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
  &__link:active {
    color: $brand-color;
  }
  &--active {
    color: $brand-color;
  }
}

.nav__link.nav--active::after {
  content: "";
  background-color: $brand-color;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  display: inline-block;
  left: 0;
  bottom: -28px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
  gap: 30px;
  &__text {
    text-decoration: none;
    text-align: left;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.143;
    color: $letter-color;
    gap: 5px;
    fill: $letter-color;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $brand-color;
      fill: $brand-color;
    }
  }
}
